/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

/* Variables */

$color-one: #fbc531;
$color-two: #353b48;
$color-three:#4cd137;
$color-four: #e84118;
$color-five: #0097e6;
$font-text: 'League Gothic', sans-serif;
$font-button: 'Signika', sans-serif;
$transition: all 1s;

body {
    margin: 0;
    font-size: 16px;
    color: $color-two;  /* czy to kolor czcionki czy tła? */
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;   /* center horizontally */
    padding: 0 20px; 
}


section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* Navigation */

.navigation {
    background-color: $color-five;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation a {
    text-decoration: none; /* likwidacja koloru podświetlenia linków */
    color: $color-two;
}

.navigation a:hover {
    color: $color-three;   /* zmiana koloru po najechaniu na niego kursorem */
   }

.navigation li {
    position: relative;
    margin-right: 36px;
    display: inline-block;
}

.navigation li ul {
    margin-bottom: 12px;
    display: none;
    position: absolute;        /* listy poziomują się względem li, bo jest ustawione position:relative */
    background-color: $color-one;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px;
}

.navigation li:hover ul {
    display: block;
    text-align: center;     /* wycentrowanie tekstu */
}

.navigation ul li ul a {
    color: $color-five;
    display: block;         
    padding: 0 24px;
}

.navigation ul li ul:hover a {
    color: $color-three;
}

/* Splash */

.splash {
    background-color: $color-five;
    color: $color-two;
    min-height: 500px;
    display: flex;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

.page-title {
    margin: 0;
    font-size: 60px;
    word-spacing: 24px;    /* odstęp między słowami */
    line-height: 1.2;
    font-weight: bold 800;
}

.page-subtitle {
    margin: 24px 0;
    font-weight: 400;
    font-size: 30px;
}

.page-title span {
    color: $color-four;
}

.btn {
    display: inline-block; /* domyślny kolor przycisku to granatowy */
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-button;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%; 
}

.btn-one {
    color: $color-four;
    border-color: whitesmoke;
    background: linear-gradient(-45deg, black, yellow);
    background-image: linear-gradient(90deg,#ffffff 50%, transparent 50%);
}

.btn-one:hover {
    background: black;
    transition: $transition;
}

.btn:hover {
    background-position: 0 100%;
    color:white;
    transition: $transition;
}


/* The most popular tokens section */

.section-title{
    text-align: left;
    font-family: $font-text;
    font-size: 64px;
    margin: 0 0 72px 0;
    letter-spacing: 4px;
} 

.box h1 {
    font-size: 24px;
    margin: 0 0 12px 0;
}

.row {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 0 0 33.333%;
    padding: 20px;
    position: relative;
}

h1.text-inside-box {
    position: absolute;
    top: 0;
    line-height: 1;
    font-size: 144px;
    font-weight: 2000;
    font-style: $font-text;
    opacity: 0.3;
    color: rgb(151, 215, 151);
}

.btn-two {
    color: black;
    border-color: goldenrod;
    background-image: linear-gradient(90deg,#b31717 50%, transparent 50%);
}

.btn-three {
    color: goldenrod;
    border-color: black;
    background-image: linear-gradient(90deg,#b31717 50%, transparent 50%);
}

.btn-four {
    color: black;
    border-color: rgb(218, 32, 32);
    background-image: linear-gradient(90deg,#b31717 50%, transparent 50%);
}

.box-text:first-of-type{
    font-weight: bolder;
}

/* TOKENS section */

.box-row {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 96px;
    align-items: center;
}

.box-2 {
    flex: 0 0 50%;
    margin-bottom: 96px;
}

.box-image img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    transition: $transition;
    top: 0;
    left: 0;
    float: left;
}

.box-text {
    text-align: center;
    flex-direction: column;
    display: flex;
}

.btn-five {
    margin: 36px 0;
    padding: 0;
    border: none;
    color: red;
}

.box-image {
    height: 100%;
    position: relative;
}

.box-image::after{
    content: '';
    height: 250px;
    width: 200px;
    opacity: 0.3;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: gray;
}


/* Contact Section */

.contact {
    background-color: $color-five;
}

form {
    flex: 2 0 0;
    padding-right: 96px;
}

.contact-data {
    flex: 1 0 0;
}

.contact-data h2 {
    color: white;
    font-size: 20px;
}


input {
    border:none;
    border-bottom: solid white 2px;
    background: inherit;
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    color: red;
    width: 100%;
    font-size: 20px;
}

::placeholder {
    color: white;
}

textarea {
    background: inherit;
    width: 100%;
    border: none;
    color: red;
    font-size: 20px;
    border-bottom: solid white 2px;
}

.btn-six {
    color: $color-four;
    border-color: whitesmoke;
    background: linear-gradient(-45deg, black, white);
    color: white;
    margin-bottom: 20px;
}

.btn-six:hover {
    background: linear-gradient(-45deg, white, black);
    border-color: red;
}

/* footer section */


footer > ul {
    margin-bottom: 48px;
    margin-top: 48px;
    text-align: center;
}

footer > ul > li {
    font-size: 0;
    display: inline-block;
}

footer > ul > li > a > i {
    font-size: 30px;
    color: red;
    margin-left: 5px;
    margin-right: 5px;
}

footer > ul > li > a > i:hover {
    color: green;
    transform: scale(1.2);
}

/* Media */

@media (max-width: 767px) {
    .row {
        flex-direction: column;
    }

    .box-image img {
        height: 150px;
        max-width: 100%;
    }

    .box-text {
        max-width: 100%;
    }

    .box-image::after {
        height: 150px;
        max-width: 100%;
    }
    
    .box-row {
        flex-direction: column;
    }

    div.box.box-2{
        display: flex;
        flex-direction: column;
    }
    .contact-data {
        margin-top: 30px;
    }

    h1.page-title {
        font-size: 48px;
    }
}
