@charset "UTF-8";
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Variables */
body {
  margin: 0;
  font-size: 16px;
  color: #353b48;
  /* czy to kolor czcionki czy tła? */
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  /* center horizontally */
  padding: 0 20px;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Navigation */
.navigation {
  background-color: #0097e6;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  /* likwidacja koloru podświetlenia linków */
  color: #353b48;
}

.navigation a:hover {
  color: #4cd137;
  /* zmiana koloru po najechaniu na niego kursorem */
}

.navigation li {
  position: relative;
  margin-right: 36px;
  display: inline-block;
}

.navigation li ul {
  margin-bottom: 12px;
  display: none;
  position: absolute;
  /* listy poziomują się względem li, bo jest ustawione position:relative */
  background-color: #fbc531;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
}

.navigation li:hover ul {
  display: block;
  text-align: center;
  /* wycentrowanie tekstu */
}

.navigation ul li ul a {
  color: #0097e6;
  display: block;
  padding: 0 24px;
}

.navigation ul li ul:hover a {
  color: #4cd137;
}

/* Splash */
.splash {
  background-color: #0097e6;
  color: #353b48;
  min-height: 500px;
  display: flex;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 60px;
  word-spacing: 24px;
  /* odstęp między słowami */
  line-height: 1.2;
  font-weight: bold 800;
}

.page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 30px;
}

.page-title span {
  color: #e84118;
}

.btn {
  display: inline-block;
  /* domyślny kolor przycisku to granatowy */
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Signika", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
}

.btn-one {
  color: #e84118;
  border-color: whitesmoke;
  background: linear-gradient(-45deg, black, yellow);
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn-one:hover {
  background: black;
  transition: all 1s;
}

.btn:hover {
  background-position: 0 100%;
  color: white;
  transition: all 1s;
}

/* The most popular tokens section */
.section-title {
  text-align: left;
  font-family: "League Gothic", sans-serif;
  font-size: 64px;
  margin: 0 0 72px 0;
  letter-spacing: 4px;
}

.box h1 {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.row {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 0 0 33.333%;
  padding: 20px;
  position: relative;
}

h1.text-inside-box {
  position: absolute;
  top: 0;
  line-height: 1;
  font-size: 144px;
  font-weight: 2000;
  font-style: "League Gothic", sans-serif;
  opacity: 0.3;
  color: #97d797;
}

.btn-two {
  color: black;
  border-color: goldenrod;
  background-image: linear-gradient(90deg, #b31717 50%, transparent 50%);
}

.btn-three {
  color: goldenrod;
  border-color: black;
  background-image: linear-gradient(90deg, #b31717 50%, transparent 50%);
}

.btn-four {
  color: black;
  border-color: #da2020;
  background-image: linear-gradient(90deg, #b31717 50%, transparent 50%);
}

.box-text:first-of-type {
  font-weight: bolder;
}

/* TOKENS section */
.box-row {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 96px;
  align-items: center;
}

.box-2 {
  flex: 0 0 50%;
  margin-bottom: 96px;
}

.box-image img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  transition: all 1s;
  top: 0;
  left: 0;
  float: left;
}

.box-text {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.btn-five {
  margin: 36px 0;
  padding: 0;
  border: none;
}

.box-image {
  position: relative;
}

.box-image::after {
  opacity: 0.3;
  position: absolute;
  top: 20px;
  left: 20px;
}
/*# sourceMappingURL=style.css.map */